<%- include("partials/header") %>
	
	<div class="container">
		<h1>
			Add New Comic
		</h1>
		<form action="/comics" method="POST">
		
		  <div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title" placeholder="Title" autofocus>
		  </div>
		
		  <div class="form-group">
			<label for="description">Description</label>
			<input type="text" class="form-control" name="description" placeholder="Description" >
		  </div>
		
		  <div class="form-group">
			<label for="author">Author</label>
			<input type="text" class="form-control" name="author" placeholder="Author Name" >
		  </div>
		
		  <div class="form-group">
			<label for="publisher">Publisher</label>
			<input type="text" class="form-control" name="publisher" placeholder="DC, Marvel" >
		  </div>
		
		  <div class="form-group">
			<label for="date">Date</label>
			<input type="date" class="form-control" name="date"  >
		  </div>
		
		  <div class="form-group">
			<label for="series">Series</label>
			<input type="text" class="form-control" name="series" placeholder="Watchmen" >
		  </div>
		
		  <div class="form-group">
			<label for="issue">Issue</label>
			<input type="number" class="form-control" name="issue"  >
		  </div>
		
		  <div class="form-group">
			<label for="genre">Genre</label>
			<select class="form-control" id="genre" name="genre">
				<option disabled selected> -- Choose Below -- </option>
				<option>Superhero</option>
				<option>Manga</option>
				<option>Slice-of-Life</option>
				<option>Humor</option>
				<option>Sci-fi</option>
				<option>Fantasy</option>
				<option>Horror</option>
				<option>Action</option>
				<option>Nonfiction</option>
			</select>
		  </div>
		
		  <div class="form-group form-check">
			<input type="checkbox" class="form-check-input" name="color"  >
			<label for="color">Color</label>
		  </div>
		
		  <div class="form-group">
			<label for="image">Link to Image</label>
			<input type="text" class="form-control" name="image_link" placeholder="https://www.myimage.com" >
		  </div>
		
		  <button type="submit" class="btn btn-dark">Submit</button>
		</form>
	</div>



	<!-- <h1 class="page-title">
		Add New Comic
	</h1>
	<form action="/comics" method="POST">
		<label for=title>Title</label>
		<input type="text" name="title" autofocus>
		<label for="description">Description</label>
		<input type="text" name="description">
		<label for="image">Image Link</label>
		<input type="text" name="image">
		<br />
		<br />
		<button type ="submit">Submit</button>
	</form> -->
<%- include("partials/footer") %>